# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# IDE
.idea/

# Python
__pycache__/
*.py[cod]

# image

static/avatars/*.jpg
static/avatars/*.jpeg
static/avatars/*.png